h1,h2,h3,h4,h5,h6 {
    margin-block-start:.5rem;margin-block-end:1rem;font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

h1 {
    font-size: 2.5rem !important
}

h2 {
    font-size: 2rem !important
}

h3 {
    font-size: 1.75rem !important
}

h4 {
    font-size: 1.5rem !important
}

h5 {
    font-size: 1.25rem !important
}

h6 {
    font-size: 1rem !important
}

p {
    font-size: 1rem !important;
}

a {
    @apply !text-primary !underline hover:!no-underline;
}

ul.wp-block-list {
    list-style-type: disc !important;
    padding-left: 1.5rem; /* Optional: Adjust padding for better visibility */
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}

.has-text-align-left {
    text-align: left;
}