---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<h1>
		F3 Rapid City
	</h1>
	<h2>
		Free, peer-led men's workouts in neighborhoods across Rapid City
	</h2>
</Layout>

<style>

</style>
