---
import "@fontsource-variable/oswald";
import "@fontsource-variable/noto-sans";
import MobileNavigation from "@/components/mobileNavigation.tsx";

interface Props {
	title: string;
}

const { title } = Astro.props;
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/F3-Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | F3 Rapid City</title>
	</head>
	<body>
		<header class="flex flex-col md:flex-row items-center justify-center md:justify-between border-b-4 border-primary p-4 md:p-8">
			<a href="/" class="flex justify-center">
				<img id="logo" src="/images/f3_rc_logo.png" alt="site logo" class="w-3/4 md:w-[300px] pb-4" />
			</a>
			<nav class="flex flex-row justify-end w-full gap-8 md:gap-4 font-noto-sans font-bold">
				<div class="hidden md:block">
					<a href="/">Home</a>
					<!-- todo: add other pages -->
				</div>
				<div class="md:hidden">
					<!-- auto-mounts only on mobile -->
					<MobileNavigation client:visible />
				</div>
			</nav>
		</header>
		<main class="p-2">
			<slot />
		</main>
		<footer class="flex flex-col md:flex-row items-center justify-center border-t-4 border-primary p-4 md:p-8">
			<div>© {(new Date()).getFullYear()} All Right Reserved.</div>
			<div>
				“The Mission of F3 is to plant, grow and serve small workout groups for men for the invigoration of male community leadership”
			</div>
		</footer>
	</body>
</html>

<style is:global>
	body {
		font-family: "Oswald Variable", sans-serif;
	}
</style>

<style>
	main {
		min-height: 50vh;
	}
</style>